.header{
    display: flex;
    width: 100%;
    padding: 12px 24px;
    background-color: #9b6f6f;
    border-bottom:1px solid #6892a7;
    flex-direction: column;
    gap: 12px;
}

.title{
    font-size: 28px;
}

.date{
    font-size:16px;
}