.categories{
    display: flex;
    width: 100%;
    gap: 8px;
    align-self: flex-start;
    box-sizing: border-box;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;

}


.item , .active{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 32px;
    background-color: #f2f4f5;
     cursor: pointer;
}

.active{
    background-color: #e7e7ff;
    color: #6b4eff;
     cursor: pointer;
}


::-webkit-scrollbar-track{
    padding-top: 10px;
    background-color: #6b4eff;
}